@using kreddit_app.Data
@using shared.Model
@inject ApiService apiService

<div>
    <br />
    <h3>Write a comment</h3>

    <!-- Comment input field -->
    <input placeholder="Content" type="input" id="content" @bind-value="content" />

    <!-- Username input field -->
    <input placeholder="Username" type="input" id="username" @bind-value="username" />

    <button id="createPostButton" type="button" @onclick="CreateNewComment">Post comment</button>
</div>

@code {
    [Parameter]
    public int PostId { get; set; }
    [Parameter]
    public EventCallback OnCommentAdded { get; set; } // Event to notify parent component
    private string? content;
    private string? username;

    private async Task CreateNewComment()
    {
        if (string.IsNullOrWhiteSpace(content) || string.IsNullOrWhiteSpace(username))
        {
            return; // Ensure both fields are filled
        }

        // Call the API to create the comment, passing only the content and username
        await apiService.CreateComment(content, username, PostId);

        // Clear fields after submission
        content = string.Empty;
        username = string.Empty;
        
        await OnCommentAdded.InvokeAsync();
    }
}